<%- include('header'); -%>

	<h1 style="color: gray"> This is the about page </h1>

	<p> This si sfhs wefjbef sef e fs ef  wef  e sf  sec s  f e c s ef s ef sf sefesf  s ef </p>

<%- include('footer'); -%>

	

