<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>TODO LIST</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="box" id="heading">
		<h1 style="color: gray"> <%= listTitle %></h1>
	</div>

	<div class="box">

		<% for(let i=0; i<newTodoItems.length; i++){ %>
			<div class="item">
				<input type="checkbox">
				<p> <%= newTodoItems[i] %> </p>
			</div>
			
		<% } %>

		<form class="item" action="/" method="post">
			<input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
			<button type="submit" name="list" value=<%= listTitle %>> + </button>
		</form>
	
	</div>

	

</body>
<footer>Copyright AKS</footer>
</html>