<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>TODO LIST</title>
</head>
<body>

	<h1 style="color: gray"> <%=anyDay%> - TODO LIST.</h1>

	<form class="" action="" method="post">
		<input type="text" name="newItem">
		<button type="submit" name="button"> ADD </button>


	</form>

</body>
</html>